format_version: 3
environments:
  {{ pipelineGroupName }}:
    environment_variables:
      ANSIBLE_DOCKER_IMAGE: rhel7.6_ansible2.7.10
      MAVEN_DOCKER_IMAGE: rhel7.6_openjdk1.8.0_maven3.6.0  
{% if branch == 'master' %}
      isSITManualTriggered: N
      isUATManualTriggered: N
      isReleasePromotionTriggered: N
{% endif %}
    pipelines: 
{% for pipeline in pipelinesInEnvironment %}
    - {{ pipeline }}
{% endfor %}
