{
    "path": {% if 'non-prod-config-repo.git' in configRepoURL %} "non-prod-config-repo" {% else %} "prod-config-repo" {% endif %} ,
    "description": "Config repo",
    "namespace_id": {{subgroup_name_space_id}},
    "merge_requests_enabled": true,
    "visibility": "private",
    "approvals_before_merge": 1
}

