{
    "id": "{{id}}",
    "plugin_id": "yaml.config.plugin",
    "material": 
    {
        "type": "git",
        "attributes": 
        {
            "url": "{{ url }}",
            "branch": "{{ branch }}",
            "auto_update": true
        }
    }
}