{
  "name": "{{pipeline_group_name}}",
  "authorization": {
    "view": {
      "users": [],
      "roles": ["{{view_role_name}}","{{operate_role_name}}"]
    },
    "operate": {
      "users": [],
      "roles": ["{{operate_role_name}}"{% if 'NON-PROD' in pipeline_group_name %} ,"{{view_role_name}}"{% endif %}  ]
    }
  }
}