{
    "uuids": [
    {% for agent in agents_response.json._embedded.agents %}
        "{{ agent.uuid }}"{% if not loop.last %},{% endif %}
    {% endfor %}
    ],
    "operations": {
        "environments": {
            "add": [
    {% for environment in environments_response.json._embedded.environments %}
                "{{ environment.name }}"{% if not loop.last %},{% endif %}
    {% endfor %}
            ]
        }
    },
    "agent_config_state": "enabled"
}
